<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-04-26T07:04:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ahmetridvanordulu/Documents/Kasim-Adalan-Flutter-ile-Uygulama-Geli-tirme-Kursu-Android-iOS-2025/calculate_dynamic_average/macos/Runner.xcworkspace</string>
</dict>
</plist>
